@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(239, 212, 176);


}

@layer base {
  @font-face {
    font-family: 'Roboto , fantasy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}